

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Experiment Admin',experiment_admin_index_path
				%li
					%strong
						Edit
						= @experiment.title
		.col-xs-2


	= form_for @experiment, url: experiment_admin_path( @experiment ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control input-lg'
				.form-group
					= f.label :description
					= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: true, toolbar_preset: 'admin_default' } }



				.col-xs-12
					.well.white-well
						%a.pull-right{ href: '#new_variant', data: { toggle: :modal, target: '#new_variant' } }
							%i.fa.fa-plus
							Add
						%h4
							Variants

						%table.table.table-light.table-bordered{ style: 'margin:0;' }
							%thead
								%th
								%th Title
								%th Participants
								%th Conversions
								%th Rate
								%th Variance (95%)
								%th
								%th


							- if @experiment.variants.empty?
								%tr
									%td{ colspan: 7 }
										\- No Variants Found -

							- @experiment.variants.each do |variant|
								%tr
									%td
										- if variant.is_control?
											%i.fa.fa-check
									%td
										%a{ href: edit_variant_admin_path( variant ) }
											= variant.title
									%td
										= variant.cached_participant_count
									%td
										= variant.conversions
									%td
										= number_to_percentage( variant.conversion_rate * 100 )
										%br
										- if variant == @control
											Control
										- else
											= number_to_percentage( (variant.conversion_rate * 100) - ( @control.conversion_rate * 100 ) )
											- if variant.conversion_rate > @control.conversion_rate
												better
											- else
												worse
											than control

									%td
										+/-
										= number_to_percentage( variant.confidence_interval * 100 )


									%td
										= (( variant.conversions - @control.conversions ).abs * 0.5 ) ** 2
										- if (( variant.conversions - @control.conversions ).abs * 0.5 ) ** 2 < @experiment.trials.count
											Insignificant
										- elsif (( variant.conversions - @control.conversions ).abs * 0.5 ) ** 2 < 2 * @experiment.trials.count
											Exremely Significant
										- else
											Significant



									%td.text-center

										%a.btn.btn-info.btn-xs{ href: edit_variant_admin_path( variant.id ) }
											Edit
										%a.btn.btn-danger.btn-xs{ href: variant_admin_path( variant.id ), data: { method: :delete, confirm: 'Are you sure?' } }
											Trash
							%tr
								%td{ colspan: 2 }
								%td
									= @experiment.trials.count
								%td{ colspan:  5}


			.col-xs-4
				.well
					.form-group
						= f.label :conversion_event
						= f.select :conversion_event, Bunyan.event_categories.keys, {}, class: 'form-control'
						=# f.select :sample_type, [ '5050', 'weighted', 'random' ], {}, class: 'form-control'

					.form-group
						= f.label :sample_type
						= f.select :sample_type, [ '5050', 'random' ], {}, class: 'form-control'
						=# f.select :sample_type, [ '5050', 'weighted', 'random' ], {}, class: 'form-control'


					.form-group
						= f.label :conclusion_type, "When the music's over show the:"
						= f.select :conclusion_type, [ 'control', 'winner', 'nothing' ], {}, class: 'form-control'
						=# f.select :sample_type, [ '5050', 'weighted', 'random' ], {}, class: 'form-control'

					.form-group
						= f.label :max_trials
						= f.text_field :max_trials, class: 'form-control'

					.form-group
						= f.label :start_at
						= f.text_field :start_at, value: current_user.to_local_tz( @experiment.start_at ), class: 'form-control datetimepicker'
					.form-group
						= f.label :end_at
						= f.text_field :start_at, value: current_user.to_local_tz( @experiment.end_at ), class: 'form-control datetimepicker'


					.form-group
						= f.label :status
						= f.collection_select :status, Edison::Experiment.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'


= render 'edison/variant_admin/new_modal', args: { experiment_id: @experiment.id }
