
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: '/admin' }
						Admin
				%li
					Experiemnts
		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_experiment' } }
				%i.fa.fa-plus-square
				New
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @experiments
		.col-xs-6
		

	.row
		.col-xs-12
			- if @experiments.blank?
				.well
					%h3
						No Experiments Found
			- else

				%table.table.table-light.table-bordered
					%thead
						%th
							Title
						%th
							Variants
						%th
							Trials
						%th
							Status
						%th
							Start
						%th
							End

					%tbody
						- @experiments.each do |experiment|
							%tr
								%td
									%a{ href: edit_experiment_admin_path( experiment ) }
										= experiment.title
								%td
									= experiment.variants.count
								%td
									= experiment.trials.count
								%td
									= experiment.status
								%td
									= experiment.start_at
								%td
									= experiment.end_at

								
								
								
= render 'new_modal'
